body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #f5fcff, #ffffff);
  min-height: 100vh;
  }
  h1 {
  text-align: center;
  color: #1c1c1c;
  margin-top: 3rem;
  }
  
  h1 img {
  width: calc(25% + 5.5vw) !important;
  height: auto;
  }
  
  form {
  margin-top: calc(6.25vh - 0.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  }
  
  input[type="submit"] {
  background-color: #dfdb00;
  color: #f8f8f8;
  padding: 1.56rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  }
  
  #search-results {
  width: calc(50% + 20vw);
  font-size: calc(1rem - 0.5vw);
  margin: 0 auto;
  }
  
  h2 {
  margin-top: 1.25rem;
  color: #1c1c1c;
  }
  
  h3 {
  color: #000000;
  }
  
  a {
  color: #dadada;
  text-decoration: none;
  }
  
  a:hover {
  color: #0d0d0d;
  }
  
  #search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
  }
  
  input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    font-size: large;
    border-radius: 2.188rem;
    padding-right: 3rem;
    outline: none;
  }
  
  div.indent {
  margin-left: 3.75rem;
  }
  
  #title:hover {
  text-decoration: underline;
  }
  
  #divRow {
  display: inline-block;
  }
  
  .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  }
  
  #search-wrapper {
  position: relative;
  width: 60%;
  max-width: 40.625rem;
  }
  
  #suggestions-list {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 1;
  }
  
  #suggestions-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  }
  
  #suggestions-list li:hover {
  background-color: #f0f0f0;
  }
  .logo {
    transition: opacity 0.5s;
  }
  
  .logo.disappear {
    opacity: 0;
  }
  
  #search-form {
    transition: top 0.5s;
  }
  
  #search-form.move-to-top {
    position: fixed;
    top: 0;
    width: 100%;
  }  
  @media (max-width: 800px) {
    h1 img {
      width: 80% !important;
      height: auto;
    }
  
    #search-wrapper {
      width: 80%;
    }
  }
  .logo {
    width: 20%;
    height: 20%;
  }